@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?yhxmkc');
  src: url('fonts/icomoon.eot?yhxmkc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yhxmkc') format('truetype'),
    url('fonts/icomoon.woff?yhxmkc') format('woff'),
    url('fonts/icomoon.svg?yhxmkc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
